# dependencies
node_modules

# build output
dist
.svelte-kit

# env files
.env
.env.*
!.env.example
!.env.schema

# logs
*.log

# IDE
.idea
.vscode
.kiro

# OS
.DS_Store

# bun
# bun.lock

tmp

*.tar
todo.md
docs_tmp

*.raconapkg